.btn-container {
	display: flex;
	z-index: 1;
	position: absolute;
	height: 300px;
	width: 200px;
	margin-top: 80px;
	justify-content: center;
	align-items: center;
	visibility: hidden;
}

.path-icon:hover {
	fill: none;
}

.btn-container div {
	margin: 5px;
}

.btn {
	background-color: red;
	padding: 7px 5px;
	width: 80px;
	text-align: center;
	font-size: 14px;
	z-index: 1;
}

.btn:hover {
	background-color: rgb(199, 0, 0);
}
