.movie {
	width: 300px;
	margin: 20px 0px;
	cursor: pointer;
	position: relative;
	z-index: 10;
}

.movie:hover {
	transform: scale(1.03);
	transition: 0.2s;
}

.movie img {
	max-width: 100%;
	object-fit: cover;
	z-index: 10;
}

.hover-img {
	background-color: rgba(0, 0, 0, 0.508);
	z-index: 1;
	position: absolute;
	height: 500px;
	width: 300px;
	transform: scale(0%);
	transition: all 0.1s;
	visibility: hidden;
}

.movie:hover .hover-img,
.movie:hover .play-icon {
	transform: scale(100%);
	visibility: visible;
}

.movie-info {
	position: relative;
	z-index: 100;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #222;
}

.movie-info .movie-title {
	font-weight: 700;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.rate {
	position: relative;
	top: 0%;
	left: 85%;
	width: 10%;
}

.rate .movie-rate {
	background-color: rgb(70, 70, 70);
	padding: 5px;
	border-radius: 5px;
	color: gold;
	visibility: visible;
	text-align: center;
}

.movie-info:hover .movie-title {
	color: rgb(201, 201, 201);
}

.play-icon {
	margin: auto;
	top: 40%;
	align-items: center;
	width: 100%;
	z-index: 1;
	position: absolute;
	transition: all 0.1s;
	visibility: hidden;
}
